@model IEnumerable<TechStore.DATA.EF.Models.Category>

@{
    ViewData["Title"] = "Categories";
}
@section hero{
<header class="bg-dark py-2">
    <div class="container px-4 px-lg-5 my-3">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Categories</h1>
        </div>
    </div>
</header>
}

<p>
    <a class="btn btn-dark" asp-action="Create">Create New</a>
</p>



<div class="row">
    <div class="offset-3 col-md-6">
        <div id="MessageContent" class="text-center"></div>
    </div>
</div>


<table class="table" id="CategoriesTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="Category-@item.CategoryId">
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryDescription)
                </td>
                <td>
                    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |
                    <a 
                    class="btn btn-danger"
                    data-ajax="true"
                   data-ajax-confirm="Are you sure you want to delete @item.CategoryName"
                   data-ajax-failure="deleteFailed"
                   data-ajax-success="deleteConfirmed"
                   data-ajax-method="POST"
                   href="~/Categories/AjaxDelete/@item.CategoryId">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
<script>
        //*********** AJAX DELETE ***********//
    function deleteConfirmed(response, status, data) {
        let rowId = "#Category-" + response.id;
        console.log(rowId);
        $("#CategoriesTable").find(rowId).remove();
        $("#MessageContent").html("<div class='alert alert-success'>" + response.message + "</div>");
    }
    function deleteFailed(response, status, data) {
        $("#MessageContent").html("<div class='alert alert-danger'>Delete unsuccessful</div>");
    }

</script>
}
