@model IEnumerable<TechStore.DATA.EF.Models.Product>

@{
    ViewData["Title"] = "Products - Admin View";
}

@section hero{


<!-- Header-->
<header class="bg-dark py-2">
    <div class="container px-4 px-lg-5 my-3">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Product Information</h1>
        </div>
    </div>
</header>
}

<p class="row justify-content-around">
    <a asp-action="Create" class="btn btn-dark col-md-2">Create New</a>
    <a asp-action="ProductsTiled" class="btn btn-dark col-md-2">User View</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                Min/Max
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                <img src="~/assets/t_@item.ProductImage" class="img-fluid" alt="@item.ProductDescription" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestockLevelNavigation.MinStock)/@Html.DisplayFor(modelItem=> item.RestockLevelNavigation.MaxStock)
            </td>
            <td>
                <a class="btn btn-dark my-1" asp-action="Edit" asp-route-id="@item.ProductId">Edit</a>
                <a class="btn btn-dark my-1" asp-action="Details" asp-route-id="@item.ProductId">Details</a>
                <a class="btn btn-dark my-1" asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}
